ASSIGNMENT: 15

1.  What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized and stored in a way that allows for efficient retrieval and manipulation of the data. Databases are used to store data for various applications such as websites, mobile apps, desktop applications, and more.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two types of databases that differ in their data storage models, query languages, and other characteristics.

SQL databases are based on the relational model, where data is stored in tables with predefined columns and rows. SQL databases use SQL as the query language to manipulate and retrieve data from the database. SQL databases enforce strict data integrity rules, such as enforcing relationships between tables, enforcing data types for columns, and ensuring that data is unique and non-null.

NoSQL databases, on the other hand, are based on non-relational models, where data is stored in documents, key-value pairs, graphs, or other formats. NoSQL databases do not enforce strict data integrity rules, and they do not use SQL as the query language. Instead, NoSQL databases often use flexible query languages or APIs that allow for more dynamic and complex querying of the data.

Here are some of the key differences between SQL and NoSQL databases:

Data Model: SQL databases use a tabular, relational data model, while NoSQL databases use a variety of non-relational models, such as document, key-value, or graph models.

Query Language: SQL databases use SQL as the query language, while NoSQL databases use a variety of query languages or APIs depending on the specific database.

Scalability: SQL databases are vertically scalable, meaning that they can be scaled up by adding more resources to a single server, while NoSQL databases are horizontally scalable, meaning that they can be scaled out by adding more servers to a distributed system.

Data Integrity: SQL databases enforce strict data integrity rules, while NoSQL databases are more flexible and often sacrifice some data integrity for scalability and performance.

Data Consistency: SQL databases are designed for strong data consistency, meaning that data is always in a consistent state across the database, while NoSQL databases often prioritize availability and partition tolerance over strong consistency.

Use Cases: SQL databases are often used for applications that require strong data integrity, complex querying, and well-defined schemas, such as financial systems, e-commerce applications, and government systems, while NoSQL databases are often used for applications that require high scalability, low latency, and flexibility, such as social networks, mobile apps, and real-time analytics.

2.  What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

DDL (Data Definition Language) is a subset of SQL that is used to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and stored procedures.

CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, or stored procedures. For example, to create a new table named customers with columns for id, name, and email, you could use the following SQL statement:

CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
);

DROP: The DROP statement is used to delete existing database objects such as tables, indexes, views, or stored procedures. For example, to delete the customers table created in the previous example, you could use the following SQL statement:

DROP TABLE customers;

ALTER: The ALTER statement is used to modify the structure of an existing database object such as a table, view, or stored procedure. For example, to add a new column named phone to the customers table created earlier, you could use the following SQL statement:

ALTER TABLE customers ADD phone VARCHAR(20);

TRUNCATE: The TRUNCATE statement is used to delete all the data from an existing table without deleting the table itself. For example, to delete all the data from the customers table created earlier, you could use the following SQL statement:

TRUNCATE TABLE customers;

3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a database. DML commands are used to insert, update, delete, and retrieve data from a database.

INSERT:
The INSERT statement is used to add new data to a table. Here's an example:
Suppose you have a table named "customers" with the following columns: customer_id, first_name, last_name, email, and phone_number. To add a new customer to the table, you would use the following INSERT statement:

INSERT INTO customers (first_name, last_name, email, phone_number) 
VALUES ('John', 'Doe', 'johndoe@email.com', '555-1234');

UPDATE:
The UPDATE statement is used to modify existing data in a table. Here's an example:
Suppose you want to update the phone number of a customer with the customer_id of 1234. To do this, you would use the following UPDATE statement:

UPDATE customers 
SET phone_number = '555-4321' 
WHERE customer_id = 1234;

DELETE:
The DELETE statement is used to remove data from a table. Here's an example:
Suppose you want to delete a customer with a customer_id of 5678. To do this, you would use the following DELETE statement:

DELETE FROM customers 
WHERE customer_id = 5678;

4. What is DQL? Explain SELECT with an example

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are used to query and retrieve data from one or more tables in a database.

The most commonly used DQL command is SELECT, which is used to retrieve data from a database. Here is an example of how to use SELECT:

Suppose you have a table named "employees" with the following columns: employee_id, first_name, last_name, email, hire_date, and salary. To retrieve the first name and last name of all employees in the "employees" table, you would use the following SELECT statement:

SELECT first_name, last_name 
FROM employees;

5. Explain Primary Key and Foreign Key

In database design, a primary key and a foreign key are two important concepts used to establish relationships between tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. The values in a primary key column or columns must be unique and cannot be null. Primary keys are used to ensure the integrity of the data and to facilitate efficient searching and sorting of records. A table can have only one primary key.

A foreign key is a column or a set of columns in one table that refers to the primary key column or columns in another table. The purpose of a foreign key is to establish a relationship between two tables based on the values of the primary key column in one table and the foreign key column in another table.

6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [10]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [11]:
'''''
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM yourtable")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

'''''

'\'\'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="yourusername",\n  password="yourpassword",\n  database="yourdatabase"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("SELECT * FROM yourtable")\n\nmyresult = mycursor.fetchall()\n\nfor x in myresult:\n  print(x)\n\n'

In this example, we first import the mysql.connector module and use it to establish a connection to our MySQL database using the mysql.connector.connect() method. We pass in the database details such as the hostname, username, password, and database name to this method.

We then create a cursor object using the cursor() method of the connection object. A cursor is an object that is used to execute queries on a database.

The execute() method of the cursor object is used to execute SQL statements or queries. In this example, we execute a simple SELECT * statement to retrieve all the data from the specified table.

The fetchall() method of the cursor object is used to fetch all the rows returned by the previous SELECT statement.

Finally, we use a loop to iterate over the rows returned by the query and print them out.

Note that there are several other methods and parameters that can be used with the cursor() and execute() methods depending on the specific requirements of your database and query. It is important to read the MySQL connector documentation thoroughly to understand how to use these methods effectively.

6. Give the order of execution of SQL clauses in an SQL query

The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the table or tables from which data is retrieved.

JOIN: This clause is used to join multiple tables based on a common column.

WHERE: This clause is used to filter the data based on specified conditions.

GROUP BY: This clause is used to group the data based on one or more columns.

HAVING: This clause is used to filter the data based on the groups created by the GROUP BY clause.

SELECT: This clause is used to select the columns to be retrieved from the table or tables.

DISTINCT: This clause is used to eliminate duplicates from the result set.

ORDER BY: This clause is used to sort the data in ascending or descending order based on one or more columns.

LIMIT: This clause is used to limit the number of rows returned by the query.